.my-header {
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    height: 80px;
    width: 100%;
    border-bottom: grey;
    box-shadow: 2px 3px 5px -1px gray;
    z-index: 10;
}
.header-container {
    width: 1200px;
    height: 100%;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
}
.header-title {
    height: 100%;
    align-items: center;
    display: flex;
    padding: 0 20px;
}
.header-title:hover {
    cursor: pointer;
    background: rgba(0,0,0,.05);
}